# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Singularity containers
*.sif

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output files
*.out

# ADCIRC TESTSUITE
adcirc-cg-testsuite/
xdmf/
pyadcirc/
talea/
new-orleans/
sithom/
adcircpy/
winpre_to_nws13/
testsuite/
tcpips/
owiWinPre/